root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{css,user.css,styl}]
parser = css
print_width = 60

[*.styl]
parser = stylus

[*.js,*.jsx,*.ts,*.tsx]
arrow_parens = always
bracket_spacing = true
embedded_language_formatting = auto
html_whitespace_sensitivity = css
jsx_single_quote = false
print_width = 80
prose_wrap = preserve
quote_props = as-needed
semi = true
single_attribute_per_line = true
single_quote = true
trailing_comma = all

[*.{json,yaml}]
parser = css

[*.{md}]
prose_wrap = preserve
