# Ignore artifacts:
build
coverage
MarkdownViewer++Theme.user.css
/.github/styles
zwiftbikes/ZwiftBikeGalleryFull.html
zwiftbikes/Zwift Bike Gallery.html
codemirror.css
codemirror.js
codemirror.min.css
codemirror.min.js
css.js
css.min.js
OSRSWikiAuto-Categorizer-SlowMode.user.js
OSRSWikiAuto-Categorizer.user.js
OSRSWikiAuto-Navbox-SlowMode.user.js
#SteamCookieExtractor/background.js
#SteamCookieExtractor/content.js
#SteamCookieExtractor/manifest.json
#SteamCookieExtractor/options.html
#SteamCookieExtractor/options.js
#SteamCookieExtractor/popup.html
#SteamCookieExtractor/popup.js
SteamDB-Dark-Mode.user.css
zwiftbikes/bikes.json
zwiftbikes/frames.json
zwiftbikes/wheels.json
WahooFitnessDarkMode.user.css
SuperchargedLocalDirectoryWebUI.user.js
ESPN-DarkMode.user.css
Windy-DarkMode.user.css
