# MegaLinter workflow customized for FitFileViewer
name: MegaLinter

on:
  push:
  pull_request:
  workflow_dispatch:

permissions: write-all

concurrency:
  group: megalinter-${{ github.ref }}
  cancel-in-progress: false

jobs:
  megalinter:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: electron-app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: MegaLinter
        id: megalinter
        uses: oxsecurity/megalinter@v8.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_LINTERS: SPELL_CSPELL
          EXCLUDED_DIRECTORIES: libs, tests, screenshots, node_modules, icons
          SHOW_ELAPSED_TIME: true
          GITHUB_STATUS_REPORTER: true
          FILEIO_REPORTER: true
          GITHUB_COMMENT_REPORTER: true
          JSON_REPORTER: true
          JSON_REPORTER_OUTPUT_DETAIL: true
          MARKDOWN_SUMMARY_REPORTER: true
          SARIF_REPORTER: true
          TAP_REPORTER: true
          TAP_REPORTER_OUTPUT_DETAIL: true
          DISABLE_ERRORS: true
          JAVASCRIPT_DEFAULT_STYLE: prettier
          PRINT_ALL_FILES: true

      # Upload MegaLinter artifacts
      - name: Archive production artifacts
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
        continue-on-error: true
